<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_STORAGE_URL</key>
	<string>$(FIREBASE_STORAGE_URL)</string>
	<key>FIREBASE_FILE_CONFIGURATION</key>
	<string>$(FIREBASE_FILE_CONFIGURATION)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>APPLICATION_NAME</key>
	<string>$(APPLICATION_NAME)</string>
	<key>PRODUCT_NAME</key>
	<string>$(PRODUCT_NAME)</string>
	<key>BUILD_NUMBER</key>
	<string>$(BUILD_NUMBER)</string>
	<key>VERSION_NUMBER</key>
	<string>$(VERSION_NUMBER)</string>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
